#container {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-family: 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
  background-color: #1c1d25;
  color: #ebebeb;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bg {
  z-index: 1000;

  &__icon {
    position: absolute;
    opacity: 0.5;
    font-size: 25px;

    @media (max-width: 640px) {
      opacity: 0.5;
      font-size: 20px;
    }
  }
}

.info {
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  font-weight: 600;

  &__hey {
    font-size: 35px;
  }

  &__name {
    font-size: 65px;
  }

  &__job {
    font-size: 22px;
  }

  &__job-title {
    color: #e2776b;
  }
}

.soc-media {
  z-index: 2000;
  position: absolute;
  right: calc(50% - 100px);
  bottom: 3%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #b0b2c3;

  &__icon {
    // TODO: global <a> styles
    color: inherit;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #ffffff;
      transform: translateY(-3px);
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .info__hey {
    font-size: 24px;
  }
  .info__name {
    font-size: 36px;
  }
  .info__job {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .info__hey {
    font-size: 20px;
  }
  .info__name {
    font-size: 28px;
  }
  .info__job {
    font-size: 14px;
  }
}
